// main: base.sass
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500i,700,700i|Open+Sans:300,400,400i,700')

body
  font-family: $Sans-Serif
.serif
  font-family: $Serif
  p
    font-size: 115%
.sans-serif
  font-family: $Sans-Serif
.center-txt
  text-align: center
