// main: base.sass

// typography
$Sans-Serif: 'Open Sans', sans-serif
$Serif: 'Cormorant Garamond', serif

// Responsiveness
$desktop: 751px
$mobile: 750px

// Colors
$color-1: #197278
$color-2: #50514F
$color-3: #BE5A4E
$color-4: #E3B505
$color-5: #221D23
