@import variables
@import mixins
@import typography
@import mobile

// Responsivness
.mobile-only
  @media only screen and (min-width: $mobile)
    display: none !important
.desktop-only
  @media only screen and (max-width: $desktop)
    display: none !important




#app
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-top: 20px
.container
  width: 70vw
  @media only screen and (max-width: $desktop)
    width: 90vw
.full-flex
  display: flex
  justify-content: space-between
.flex-center
  display: flex
  align-items: center


.top-bar
  display: flex
  flex-wrap: wrap
  h1
    font-size: 220%
    @media only screen and (max-width: $desktop)
      width: 90%
.logo
  height: 60px
  @media only screen and (max-width: $desktop)
    display: block
    margin:  0 auto
    position: absolute
    left: calc(50% - 30px)
    top: 20vh
.hello
  height: 50vh
  p
    margin-left: 50px
    margin-right: 50px

.menu-button
  @media only screen and (min-width: $desktop)
      position: absolute
      right: 15vw
      top: 60vh
